/.nrepl-port
/.lein-repl-history
/.lein-failures
/node_modules
/figwheel_server.log
/target
!/target/doo/test/.gitkeep
/rplugin/node/nvim-parinfer/nvim-parinfer.js.map
/rplugin/node/nvim-parinfer/out
